<template>
  <div :class="`container ${type}`" role="alert">
    <p class="font-bold title">{{ title }}</p>
    <p class="content"><slot></slot></p>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      required: true,
      type: String,
    },
    type: {
      required: true,
      type: String,
    }
  }
}
</script>

<style scoped lang="postcss">
div.container.error {
  @apply bg-red-100 text-red-700 rounded relative;

  & > .title {
    @apply bg-red-600 text-white px-4 py-2 rounded-t;
  }

  & > .content {
    @apply px-4 py-3 border rounded-b border-red-600;
  }
}

div.container.ok {
  @apply bg-green-100 text-green-700 rounded relative;

  & > .title {
    @apply bg-green-600 text-white px-4 py-2 rounded-t;
  }

  & > .content {
    @apply px-4 py-3 border rounded-b border-green-600;
  }
}
</style>
