<template>
  <button
    :class="primary ? 'primary' : 'secondary'"
    :name="name"
    :type="type"

    @click="$emit('click', $event)"
  >
    {{ label }}
  </button>
</template>


<script>
export default {
  props: {
    label: {
      type: String,
      required: true,
    },
    name: {
      type: String,
      required: true,
    },
    primary: {
      type: Boolean,
      required: false,
    },
    type: {
      type: String,
      required: false,
      default: 'submit',
    },
  },
}
</script>

<style>
button {
  @apply py-2 px-4 rounded active:mt-0.5 active:-mb-0.5;

  &.primary {
    @apply bg-blue-400 font-bold text-white hover:bg-blue-700;
  }

  &.secondary {
    @apply bg-transparent text-blue-400 font-semibold hover:text-blue-600
      hover:border-transparent;
  }
}
</style>
