<template>
  <div class="mb-2">
    <label class="block text-gray-700 text-sm font-bold mb-1">
      {{ label }}
      <input
        v-model="localValue"

        :name="name"
        :type="type"
        :class="style"

        @blur="touched = true"
      />
      <p :title="errorMessage">{{ errorMessage }}</p>
    </label>
  </div>
</template>

<script>
export default {
  props: {
    name: {
      type: String,
      required: true,
    },
    type: {
      type: String,
      default: 'input',
      required: false,
    },
    value: {
      type: String,
      default: '',
      required: false,
    },

    required: {
      type: Boolean,
      default: false,
      required: false,
    },
    minlength: {
      type: String,
      required: false,
      default: undefined,
    },
    maxlength: {
      type: String,
      required: false,
      default: undefined,
    },
    pattern: {
      type: String,
      required: false,
      default: undefined,
    },

    label: {
      type: String,
      required: true,
    },
    patternHelper: {
      type: String,
      required: false,
      default: undefined,
    },
  },

  data() {
    return {
      touched: false,
    }
  },

  computed: {
    style() {
      if (!this.isValid && this.touched) {
        return `invalid `
      }

      return ''
    },

    patternRegex() {
      if (!this.pattern) {
        return undefined
      }

      let newRegex = this.pattern;

      if (this.pattern) {
        if (!this.pattern.startsWith('^')) {
           newRegex = `^${newRegex}`
        }
        if (!this.pattern.endsWith('$')) {
          newRegex = `${newRegex}$`
        }
      }

      return new RegExp(newRegex)
    },

    errorMessage() {
      if (this.required && this.value === '') {
        return 'This field is required';
      }

      if (this.type === 'email' && !/.+@.+\..+/.test(this.value)) {
        return 'Please use a valid email';
      }

      if (this.value.length < this.minlength) {
        return `Please use at least ${this.minlength} characters`;
      }
      if (this.value.length > this.maxlength) {
        return `Please use at most ${this.maxlength} characters`;
      }

      if (this.patternRegex && !this.patternRegex.test(this.value)) {
        return this.patternHelper;
      }

      return false
    },

    isValid() {
      return this.errorMessage === false
    },

    localValue: {
      get() {
        return this.value
      },
      set(value) {
        this.$emit('input', value);
      },
    },
  },

  methods: {
    reset() {
      Object.assign(this.$data, this.$options.data.apply(this))
      this.localValue = ''
    }
  }
}
</script>

<style scoped type="postcss">
input {
  @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700
    leading-tight focus:outline-none focus:ring-2 focus:ring-blue-400;
}

p {
  @apply text-sm text-red-600 invisible truncate;
}

input.invalid {
  @apply border-red-300;

  & ~ p {
    visibility: visible;
  }
}
</style>
