<template>
  <div class="flex flex-col">
    <div v-show="$store.state.profile.error === ''" class="flex items-center justify-between bg-white shadow-md border rounded px-8 pt-6 pb-8 mb-4 space-x-8">
      <div>
        <figure>
          <img :src="picture" />
        </figure>
      </div>
      <div class="text-xl space-y-6">
        <div>
          <p>Email</p>
          <p class="text-gray-500 font-light">{{ email || 'Loading...'}}</p>
        </div>

        <div>
          <p>Username</p>
          <p class="text-gray-500 font-light">{{ username || 'Loading...' }}</p>
        </div>
      </div>

    </div>
    <Alert v-show="$store.state.profile.error !== ''" title="Could not load" type="error">
      <p>{{ $store.state.profile.error }}</p>
      <p class="mt-5">Please try again</p>
    </Alert>
  </div>
</template>

<script>
const pictureURL = 'https://avataaars.io/?avatarStyle=Circle&topType=ShortHairShortFlat&accessoriesType=Blank&hairColor=BrownDark&facialHairType=BeardLight&facialHairColor=Brown&clotheType=Hoodie&clotheColor=PastelRed&eyeType=Happy&eyebrowType=DefaultNatural&mouthType=Smile&skinColor=Brown'

export default {

  data() {
    return {
      picture: pictureURL,
    }
  },
  computed: {
    username() {
      return this.$store.state.profile.username
    },

    email() {
      return this.$store.state.profile.email
    }
  },

  mounted() {
    this.$store.dispatch('profile/fetchUserData', this.$route.params.id)
  }
}
</script>
