<template>
  <div>
    <h2 class="text-3xl mb-10 font-bold">Create a Pingr account</h2>

    <form @submit.prevent="onSubmit">
      <Input
        ref="emailComponent"
        v-model="email" label="Email" name="email" type="email"
        autocomplete="email"
        helper="Please enter a valid email"
      />

      <Input
        ref="passwordComponent"
        v-model="password" label="Password" name="password"
        type="password"
        autocomplete="new-password" minlength="8"
        maxlength="32"
        required
      />

      <Input
        ref="usernameComponent"
        v-model="username" label="Username" name="username"
        autocomplete="username"
        required
        pattern="[a-zA-Z]\w*"
        pattern-helper="Please don't start with a number"
      />

      <div class="flex justify-between">
        <Button label="Clear" name="clear" type="button" @click="clear" />
        <Button label="Sign up" name="signup" primary />
      </div>

      <Alert
        v-show="signupStatus.status !== 'not_signed_in'" :title="signupStatus.title"
        :type="signupStatus.status" class="mt-5"
      >
        {{ signupStatus.description }}
      </Alert>
    </form>

    <p class="text-center mt-10">
      <NuxtLink to="/sign-in" class="text-blue-400">Already an user? Sign in now!</NuxtLink>
    </p>

  </div>
</template>

<script>
const statusToTitle = {
  ok: 'Signup successful!',
  error: 'Could not sign up!',
  not_signed_in: '',
}

export default {
  layout: 'registration',

  data() {
    return {
      email: '',
      password: '',
      username: '',
    }
  },

  computed: {
    signupStatus() {
      const status = this.$store.state.signup.status

      return {
        ...status,
        title: statusToTitle[status.status],
        description: (status.status === 'ok' ?
          'Redirecting...' : status.error),
      }
    },
  },


  mounted() {
    this.clear()
  },

  methods: {
    clear() {
      const inputs = [
        this.$refs.emailComponent,
        this.$refs.passwordComponent,
        this.$refs.usernameComponent,
      ]

      inputs.forEach(input => input?.reset())

      this.$store.dispatch('signup/resetStatus')
    },

    async onSubmit(e) {
      const inputs = [
        this.$refs.emailComponent,
        this.$refs.passwordComponent,
        this.$refs.usernameComponent,
      ]

      inputs.forEach(input => (input.touched = true))

      if (inputs.some(input => !input.isValid)) {
        return
      }

      await this.$store.dispatch('signup/signup', {
        email: this.email,
        password: this.password,
        username: this.username,
      })

      setTimeout(() => {
        this.$router.push({ name: 'users-id', params: {
          id: this.$store.getters['profile/id'],
        }})
      }, 1000)
    }
  },
}
</script>
