<template>
  <div>
    <h2 class="text-3xl mb-10 font-bold">Welcome back to Pingr</h2>

    <form @submit.prevent="onSubmit">
      <Input ref="emailComponent" v-model="email" label="Email" name="email"
        type="email" autocomplete="email"
        helper="Please enter a valid email" />

      <Input ref="passwordComponent" v-model="password" label="Password"
        name="password" type="password" autocomplete="new-password" minlength="8"
        maxlength="32" required />

      <div class="flex justify-between">
        <Button label="Clear" name="clear" type="button" @click="clear" />
        <Button label="Login" name="signup" primary />
      </div>

      <Alert
        v-show="loginStatus.status !== 'not_logged_in'" :title="loginStatus.title"
        :type="loginStatus.status" class="mt-5"
      >
        {{ loginStatus.description }}
      </Alert>
    </form>

    <p class="text-center mt-10">
      <NuxtLink to="/sign-up" class="text-blue-400">Not an user yet? Sign up now!</NuxtLink>
    </p>

  </div>
</template>

<script>
const statusToTitle = {
  ok: 'Login successful!',
  error: 'Could not login!',
  not_logged_in: '',
}

export default {
  layout: 'registration',

  data() {
    return {
      email: '',
      password: '',
    }
  },

  computed: {
    loginStatus() {
      const status = this.$store.state.login.status

      return {
        ...status,
        title: statusToTitle[status.status],
        description: (status.status === 'ok' ?
          'Redirecting...' : status.error),
      }
    },
  },

  mounted() {
    this.clear()
  },

  methods: {
    clear() {
      const inputs = [
        this.$refs.emailComponent,
        this.$refs.passwordComponent,
      ]

      inputs.forEach(input => input?.reset())

      this.$store.dispatch('login/resetStatus')
    },

    async onSubmit(e) {
      const inputs = [
        this.$refs.emailComponent,
        this.$refs.passwordComponent,
      ]

      inputs.forEach(input => (input.touched = true))

      if (inputs.some(input => !input.isValid)) {
        this.$store.dispatch('login/resetStatus')
        return
      }

      await this.$store.dispatch('login/login', {
        email: this.email,
        password: this.password,
      })

      setTimeout(() => {
        this.$router.push({ name: 'users-id', params: {
          id: this.$store.getters['profile/id'],
        }})
      }, 1000)
    }
  },
}
</script>
